.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;

    h1 {
        font-size: 50px;
        color: #fbde44ff;
        text-shadow: 10px 10px 30px #f65058ff;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }

    span:hover {
        color: #f65058ff;
        cursor: pointer;
        transition: 0.8s;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 5px;
        padding: 5px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        span {
            color: #fbde44ff;
            padding: 5px;
            margin: 5px;
        }
        .each-item {
            color: #f65058ff;
            padding: 5px;
            margin: 5px;
        }
    }
    .extra-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .new-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        .each-new-item {
            display: flex;
            align-items: center;
            padding: 10px;

            span {
                color: #fbde44ff;
                padding: 5px;
                margin: 5px;
            }
            input {
                box-shadow: 0 0 30px #f65058ff;
                border: 1px solid #fff;
                background-color: #e6fdb0;
                border-radius: 10px;
                text-align: center;
            }
        }
    }
    .general-modal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        .each-modal {
            display: flex;
            align-items: center;
            padding: 10px;

            span {
                color: #fbde44ff;
                padding: 5px;
                margin: 5px;
            }
            input {
                box-shadow: 0 0 30px #f65058ff;
                border: 1px solid #fff;
                border-radius: 10px;
                background-color: #e6fdb0;
                text-align: center;
            }
        }
    }
    .general-filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        .each-filter {
            display: flex;
            align-items: center;
            display: flex;
            padding: 10px;

            span {
                color: #fbde44ff;
                padding: 5px;
                margin: 5px;
            }
            select {
                background-color: #e6fdb0;
                border: 1px solid #fff;
                border-radius: 10px;

                option {
                    color: #f65058ff;
                    padding: 10px;
                    margin: 10px;
                }
            }
            input {
                box-shadow: 0 0 30px #f65058ff;
                border: 1px solid #fff;
                border-radius: 10px;
                text-align: center;
            }
        }
    }
    .statistic-results {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        span {
            color: #fbde44ff;
            padding: 5px;
            margin: 5px;

            i {
                color: #f65058ff;
                padding: 10px;
                margin: 10px;
            }
        }
    }
    .statistic-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        span {
            color: #fbde44ff;
            padding: 5px;
            margin: 5px;

            i {
                color: #f65058ff;
                padding: 10px;
                margin: 10px;
            }
        }
    }
    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        margin-top: -40px;
        top: 0;
        transition: all 0.3s;
        overflow: hidden;

        span {
            color: #f65058ff;
            margin: 10px;
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase;
        }
    }
    button {
        background-image: linear-gradient(to right, #f65058ff 0%, #28334aff 51%, #fbde44ff 100%);
    }
    button {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        transition: 0.8s;
        background-size: 200% auto;
        box-shadow: 0 0 10px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        display: block;
        color: #fbde44ff;
    }
    button:hover {
        background-position: right center; /* change the direction of the change here*/
        color: #f65058ff;
        text-decoration: none;
        cursor: grab;
    }
    h2{
        font-size: 20px;
        color: #fbde44ff;
        text-shadow: 10px 10px 30px #f65058ff;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase; 
    }
}

// // RESPONSIVE DESIGN

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .general {
        .new-item,
        .each-new-item,
        .list,
        .general-modal,
        .each-modal,
        .general-filter,
        .each-filter,
        .statistic-list,
        .statistic-results {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .general {
        .list,
        .statistic-list,
        .statistic-results {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .general {
        .general-filter,
        .general-modal,
        .each-modal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .general {
        .new-item,
        .each-new-item {
            display: block;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .general {
        .list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .general {
        .statistic-list,
        .statistic-results,
        .general-modal,
        .general-filter,
        .each-filter,
        .each-modal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .general {
        .new-item,
        .each-new-item {
            display: block;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .general {
        .list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .general {
        .statistic-list,
        .statistic-results .new-item,
        .each-new-item,
        .general-modal,
        .general-filter,
        .each-filter,
        .each-modal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .general {
        .new-item,
        .each-new-item,
        .general-modal,
        .each-modal,
        .general-filter,
        .each-filter,
        .statistic-list,
        .statistic-results {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .general {
        .list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}
