.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;

    h1 {
        font-size: 50px;
        color: #fbde44ff;
        text-shadow: 10px 10px 30px #f65058ff;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }

    span:hover {
        color: #f65058ff;
        cursor: pointer;
        transition: 0.8s;
    }

    .list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        span {
            color: #fbde44ff;
            padding: 10px;
            margin: 10px;
        }
        .each-item {
            color: #f65058ff;
            padding: 10px;
            margin: 10px;
        }
    }

    .new-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        .each-new-item {
            display: flex;
            align-items: baseline;

            span {
                color: #fbde44ff;
                margin: 10px;
                padding: 5px;
            }
            input {
                box-shadow: 0 0 30px #f65058ff;
                border: 1px solid #fff;
                background-color: #e6fdb0;
                border-radius: 10px;
            }
        }
    }
    .general-modal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        .each-modal {
            display: flex;
            align-items: baseline;
            span {
                color: #fbde44ff;
                margin: 10px;
                padding: 5px;
            }
            input {
                box-shadow: 0 0 30px #f65058ff;
                border: 1px solid #fff;
                border-radius: 10px;
                background-color: #e6fdb0;
            }
        }
    }
    .general-filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        .each-filter {
            display: flex;
            align-items: baseline;

            span {
                color: #fbde44ff;
                margin: 10px;
                padding: 5px;
            }
            select {
                background-color: #e6fdb0;

                option {
                    color: #f65058ff;
                    padding: 10px;
                    margin: 10px;
                }
            }
            input {
                box-shadow: 0 0 30px #f65058ff;
                border: 1px solid #fff;
                border-radius: 10px;
            }
        }
    }
    .statistic-results {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        span {
            color: #fbde44ff;
            margin: 10px;
            padding: 5px;

            i {
                color: #f65058ff;
                padding: 10px;
                margin: 10px;
            }
        }
    }
    .statistic-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: baseline;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        span {
            color: #fbde44ff;
            margin: 10px;
            padding: 5px;

            i {
                color: #f65058ff;
                padding: 10px;
                margin: 10px;
            }
        }
    }
    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        margin-top: -40px;
        top: 0;
        transition: all 0.3s;
        // overflow: hidden;

        span {
            color: #f65058ff;
            margin: 10px;
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase;
        }
    }
    button {
        background-image: linear-gradient(to right, #f65058ff 0%, #28334aff 51%, #fbde44ff 100%);
    }
    button {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        transition: 0.8s;
        background-size: 200% auto;
        box-shadow: 0 0 10px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        display: block;
        color: #fbde44ff;
    }
    button:hover {
        background-position: right center; /* change the direction of the change here*/
        color: #f65058ff;
        text-decoration: none;
        cursor:grab;
    }
}
